@use "../../variables";

form {
    display: flex;
    margin: auto;
    width: auto;

    gap: 2rem;
    #urlAndMethod {
        $mainColor: rgb(63, 224, 176);
        $mainColorSub: rgb(30, 167, 126);
        display: inline-block;
        margin: auto;
        width: 400px;
        #exampleURL {
            opacity: 0.5;
            font-style: italic;
        }
        #GObutton {
            padding: 0.25rem 1rem;
            border-radius: 0.25rem;

            color: white;
            font-weight: 600;
            font-size: 18px;
            border: $mainColorSub solid;
            background-color: $mainColor;

            cursor: pointer;
            transition: 0.05s;
            &:hover {
                background-color: $mainColorSub;
            }
        }
        > label {
            display: flex;
            margin: 1rem 0;
            width: 100%;
            gap: 0.5rem;

            > span:first-of-type {
                position: relative;
                top: 0.14rem;
            }
            &.methods {
                display: flex;
                justify-content: center;
                input {
                    display: none;
                    &:checked + label {
                        color: white;
                        background: $mainColor;
                        border: $mainColor solid;

                        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.479);
                    }
                }
                label {
                    cursor: pointer;
                    margin-right: 1rem;
                    padding: 0.25rem 0.5rem;
                    border: $mainColorSub solid;

                    border-radius: 0.25rem;

                    color: $mainColorSub;

                    font-weight: 600;

                    transition: 0.05s;
                    &:hover,
                    &.active {
                        // color: rgb(43, 43, 43);
                        background: rgb(143, 226, 201);
                    }
                }
            }
            input {
                flex-grow: 5;
            }
        }
    }
    #bodyText {
        // margin: auto;
        height: 65px;
        width: 500px;
    }
}
