@use "../../variables";

body {
  header {
    background: rgb(63, 224, 176);
    border-bottom: 1px solid #eee;
    color: #eee;
    padding: 0;
    margin: 0;
    text-align: left;
    padding-left: 2rem;
  }
}